<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="5.1.2" targetFramework="xamarinmac20" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="xamarinmac20" />
  <package id="Plugin.Permissions" version="5.0.0-beta" targetFramework="xamarinmac20" />
  <package id="sqlite-net-pcl" version="1.6.292" targetFramework="xamarinmac20" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.13" targetFramework="xamarinmac20" />
  <package id="SQLitePCLRaw.core" version="1.1.13" targetFramework="xamarinmac20" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.osx" version="1.1.13" targetFramework="xamarinmac20" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.macos" version="1.1.13" targetFramework="xamarinmac20" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="xamarinmac20" />
  <package id="Xam.Plugins.Settings" version="3.1.1" targetFramework="xamarinmac20" />
  <package id="Xamarin.Forms" version="4.5.0.657" targetFramework="xamarinmac20" />
</packages>